<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/location_found">location found</a></li>
        <li><a href="/error">error</a></li>
        <li><a href="/help">help</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>

    <section class="bodyContainer">
      {{{body}}}
    </section>

    <footer>
      <img class="copyright" src="/images/copyright.png" />
      <p>All rights reserved to Yaakov Sahale</p>
    </footer>
  </body>
</html>