* {
  margin: 0%;
  padding: 0%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.158);
  text-align: left;
  padding: 8px;
}
th {
  border: 1px solid rgba(0, 0, 0, 0.158);
  text-align: left;
  padding: 8px;
}

tbody:nth-child(even) {
  background-color: #dddddd;
}
