<h1>location found page</h1>

<section class="tabContainer">
  <form action="/location_found" method="get">
    <input type="text" name="userCity" placeholder="Write your city"/>
    <button type="submit">click</button>
  </form>

<br>
<h1>lat: {{lat}}     , lon: {{lon}}</h1>
</section>