<h1>location found page</h1>

<section class="tabContainer">
  <form action="/city" method="get">
    <label for="city">city :</label>
    <input type="text" name="userCity" />
  </form>


<h1>lat: xyz     , lon: 123</h1>
</section>